* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    padding-bottom: 2%;
}

h2 {
    font-size: xx-large;
    padding: 20px;
}

.line{
    border: none;
    height: 5px;
    background-color: #00f7ff;
    margin: 10px 0;
}

/* ========== button ========== */

button {
    transition: 0.3s ease;
}

button :hover {
    background-color: #646464;
}

.button-blue {
    width: 150px;
    font-size: medium;
    color: #ffffff;
    background-color: #00f7ff;
    padding: 10px;
    border: #00f7ff;
    border-radius: 40%;
}

.button {
    background: none;
    padding: 10px;
    font-size: medium;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 40%;
}

/* ========== header ========== */

header {
    position: fixed;
    width: 100%;
}

.header-top,
footer div {
    background-color: rgb(46, 46, 46);
}

.header-top {
    padding: 9px;
    display: flex;
    justify-content: end;
    gap: 4%;
}

.social-media {
    width: 150px;

    a {
        padding: 2%;
        background-color: rgb(0, 140, 255);
        border-radius: 50%;
        color: #ffffff;
    }
}

.navbar {
    background-color: white;
    padding: 0.5% 7%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 250px #7e7e7e;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10%;

    a {
        color: rgb(0, 204, 255);
    }
}

.contact {
    display: grid;
    justify-content: end;
}

p {
    line-height: 1.4;
    padding-bottom: 100px;
}

/* ========== section 1 ========== */

.sec1 {
    padding: 270px 0px;
    background-image: url(assets/1.jpg);
    background-size: cover;
    background-position: center;
}

/* ========== section 2 ========== */

.sec2 {
    padding: 120px;

    h3 {
        padding-bottom: 10px;
    }
}

.div-services {
    display: flex;
}

.card-services {
    width: 25%;
    padding: 50px;
    padding-bottom: 0;

    i {
        color: #00f7ff;
        font-size: 500%;
        padding-bottom: 10%;
    }

    h5 {
        font-size: large;
        padding-bottom: 10%;
    }

    p {
        color: #646464;
        padding: 10%;
    }
}

/* ========== section 3 ========== */

.sec3 {
    padding: 200px 280px;
    background-image: url(assets/2.jpg);
    background-size: cover;
    background-position: center;
}

/* ========== section 4 ========== */

.sec4 {
    padding: 80px 190px;

    .div-business {
        display: flex;

        h5 {
            font-size: 30px;
        }

        .card-business {
            margin: 20px;
            padding: 0;
            display: grid;
            box-shadow: 0 1px 30px #c4c4c4;

            img {
                width: 50vh;
                transition: 0.3s ease;


            }

            img:hover {
                transform: scale(1.1);
            }

            span {
                text-align: left;
                color: #00b193;
                padding: 1vh;
            }

            a {
                color: #646464;
            }

            h5,
            p {
                padding: 1vh;
                text-align: left;
            }
        }

    }
}

/* ========== section 5 ========== */

.sec5 {
    background-image: url(assets/pexel.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px 190px;
    color: aliceblue;

    .div-business-tips {
        display: flex;
        justify-content: center;

        .num-card {
            margin: 3vh 10vh;
        }

        p {
            margin: 50px 0 0 0;
            padding: 0;
        }
    }

    .num {
        border: 1px solid #ffffff;
        border-radius: 50%;
    }
}

/* ========== section 6 ========== */

.sec6 {
    padding: 80px 190px;

    .div-client {
        display: flex;
    }

    .client-card {
        margin: 1vh 2vh;
        display: flex;

        .img-client {
            margin: 2vh;
        }

        img {
            width: 15vh;
            border-radius: 50%;
        }

        p {
            text-align: left;
            padding: 0;
            margin: 0;
        }

    }
}

/* ========== section 7 ========== */

.sec7 {
    height: 60vh;
    padding: 80px 190px;
    background-image: url(assets/Revenue.jpg);
    background-size: cover;

    button {
        margin: 100px;
    }
}

/* ========== footer ========== */

.footer {
    padding: 80px 190px;

    form {
        padding: 100px;
        display: grid;
        gap: 20px;

        input {
            padding: 20px;
        }
    }
}

.div-footer {
    padding: 20px;
    color: #ffffff;
}
